@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald:200,300,400,500,600,700&display=swap');
body {
    font-family: "Oswald";
    /* background: #111; */
    margin: 0;
    padding: 0;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: #111;
}

h1 {
    display: block;
    font-family: "Oswald";
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.6rem;
    line-height: 1.2;
    margin: 0;
}

p {
    font-family: "Open Sans";
    color: #555;
    margin: 0;
    padding: 0;
}

button {
    outline: none;
}

ul {
    list-style: none;
}

.no-scroll {
    overflow: hidden;
}

/* 
-----------------------------------
NAVIGATION
-----------------------------------
*/

header {
    position: absolute;
    width: 100%;
    background: #111;
}

.brand {
    display: block;
    position: fixed;
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    color: #ef0d33;
    font-size: 26px;
    margin: 0;
    z-index: 3;
    padding: .5em .5em .5em 1em;
}

#hamburger {
    width: 56px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 22px;
    border: 0;
    background: none;
    cursor: pointer;
    z-index: 4;
}

    #hamburger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 32px;
        background: #ef0d33;
    }

    #hamburger span:nth-child(1) {
        top: 10px;
    }

    #hamburger span:nth-child(2) {
        top: 18px;
    }

    #hamburger span:nth-child(3) {
        top: 26px;
    }

/* 
-----------------------------------
NAVIGATION - OVERLAY
-----------------------------------
*/

.navbar {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background: #111;
    opacity: 0;
    transition: opacity 300ms ease;
}

#menu {
    margin: 0 0 0 4em;
    padding: 80px 0 0 0;
    visibility: hidden;
}

    #menu .menu__list {
        /* list-style: none; */
        margin: 0 0 20px 0;
        padding: 0;
    }

    #menu .menu__item {
        padding: 0;
        margin: 0;
    }

    #menu .menu__list .menu__link {
        font-family: "Oswald";
        font-weight: 400;
        color: #fff;
        font-size: 32px;
        text-transform: uppercase;
        line-height: 1.2;
        position: relative;
        overflow: hidden;
    }

    #menu .menu__list.menu__list--small .menu__link {
        font-size: 16px;
        color: #666;
        line-height: 1.6;
        text-transform: none;
    }

    .navbar--open {
        opacity: 1;
    }

    .navbar--open #menu {
        visibility: visible;
    }

    .menu__list--small {
        opacity: 0;
    }

    .navbar--open #menu .menu__list {
        animation: showNav 900ms ease forwards;
        -webkit-animation: showNav 900ms ease forwards;
    }

    .navbar--open #menu .menu__list--small {
        animation: showNav 900ms 200ms ease forwards;
        -webkit-animation: showNav 900ms 200ms ease forwards;
    }

/* 
-----------------------------------
NAVIGATION - MENU - BREAKPOINT: Tablet
Menuen forholder sig nu til højre margin
Rykkes fra øverste-venstre focal point, til øverste-højre.
-----------------------------------
*/

@media screen and (min-width: 768px) {
    #menu {
        margin: 0 0 0 50%;
        padding: 10em 0 0 0;
    }

    #menu .menu__list .menu__link {
        font-size: 40px;
    }
}

/*
-----------------------------------
NAVIGATION - MENU - BREAKPOINT: Desktop
Justering af størrelse til desktop.
-----------------------------------
*/

@media screen and (min-width: 1080px) {
    #menu {
        margin: 0 0 0 55%;
        padding: 10em 0 0 0;
    }

    #menu .menu__list .menu__link {
        font-size: 60px;
    }

    #menu .menu__list.menu__list--small .menu__link {
        font-size: 20px;
     
    }
}

/* 
-----------------------------------
NAVIGATION - MENU
- Den animerede del.
-----------------------------------
*/

.link__layer {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: translate3d(-100%,0,0);
    animation: anim-out-layer 500ms ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
}

    .link__layer::before {
        content: attr(data-text);
        display: block;
        width: 100%;
        background: #111;
        color: #ef0d33;
        transform: translate3d(100%, 0, 0);
        animation: anim-out-text 500ms ease-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .menu__link--anim:hover .link__layer {
        animation: anim-in-layer 500ms ease forwards;
    }

    .menu__link--anim:hover .link__layer::before {
        animation: anim-in-text 500ms ease forwards;
    }

    @keyframes showNav {
        0% {
            opacity: 0;
            transform: translate3d(0, -40px, 0)
        }
        100% {
            opacity: 1;
            transform: translateZ(0)
        }
    }

    @keyframes anim-in-layer {
        0% {
            transform: translate3d(-100%, 0, 0)
        }
        to {
            transform: translateZ(0)
        }
    }
    
    @keyframes anim-out-layer {
        0% {
            transform: translateZ(0)
        }
        to {
            transform: translate3d(100%, 0, 0)
        }
    }
    
    @keyframes anim-in-text {
        0% {
            transform: translate3d(100%, 0, 0)
        }
        to {
            transform: translateZ(0)
        }
    }
    
    @keyframes anim-out-text {
        0% {
            transform: translateZ(0)
        }
        to {
            transform: translate3d(-100%, 0, 0)
        }
    }

/* 
-----------------------------------
INTRO SECTION
-----------------------------------
*/

#cover {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

#cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image:  url('../img/intro.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    opacity: .05;
}

.intro {
    text-align: center;
}

.intro .intro__content {
    margin: 0
}

.intro__sep {
    display: block;
    height: 2px;
    width: 50px;
    background: #ef0d33;
    margin: 25px auto;
}

.intro p {
    font-family: "Open Sans";
    max-width: 360px;
    margin: 0 auto;
    color: #999;
}

/* 
-----------------------------------
CONTENT SECTION
-----------------------------------
*/

.emne__container {
    max-width: 500px;
    margin: 0 auto;;
    padding: 4rem 1.5rem;
    text-align: center;
}

    .emne__container h2 {
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }

    .emne__container .emne__list {
        margin: 2rem 0 0 0;
        padding: 0;
        text-align: center;
    }

#web {
    position: relative;
}

#web::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image:  url('../img/seo.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    opacity: .3;
    z-index: -1;
}

    #web .emne__container h2 {
        color: #111;
    }

    #web .list__link {
        color: #111;
    }


#komm {
    position: relative;
    background: rgb(0,168,255);
    background: linear-gradient(90deg, rgba(0,168,255,1) 0%, rgba(0,104,255,1) 100%);
    z-index: 2;
}

    #komm::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 18%;
        background-image: url('../img/kommunikation.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 200px;
        width: 300px;
        opacity: .3;
        transition: left 300ms;
    }

    @media screen and (min-width: 500px) {
        #komm::after {
            left: 60%;
        }
    }

    #komm .emne__container .emne__list {
        position: relative;
        z-index: 2;
    }

    #komm h2 {
        color: #fff;
    }

    #komm p,
    #komm .list__link {
        color: #eee;
    }

#design {
    position: relative;
}

    #design::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        background-image:  url('../img/design.png');
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto 100%;
        opacity: .3;
        z-index: -1;
    }

    #design p {
        color: #111;
    }

#brugervenlighed {
    background: rgb(255,184,84);
    background: linear-gradient(45deg, rgba(255,184,84,1) 0%, rgba(255,128,0,1) 100%);
}

#brugervenlighed h2 {
    color: #fff;
}

    #brugervenlighed p,
    #brugervenlighed .list__link {
        color: #eee;
    }